<!DOCTYPE html>
<html>

<head>
    <title>Books - Book Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/css/all.min.css">
    <link href="./assets/css/main.css" rel="stylesheet">
</head>

<body>
    <%- include partials/header.ejs %>

    <div class="container">
        <h1 class="heading">Already published books:</h1>

        <% data.forEach((book) => { %>
            <div class="book-widget">
                <h1 class="title"> <%- book.title %> </h1>
                <hr>
                <h4><span class="book-info">Author: </span><%- book.author %></h4>
                <h4><span class="book-info">Publisher: </span><%- book.publisher %></h4>
                <h4><span class="book-info">Release: </span><%- book.releaseYear %></h4>
                <h4><span class="book-info">Pages: </span><%- book.pages %> S.</h4>
                <a href="/books/<%- book._id %>" class="book-option">
                    <i class="fas fa-chevron-right"></i>More</a>
                <a href="/edit/<%- book._id %>" class="book-option">Edit</a>
                <%- book.cover %>
                <form class="delete-form" action="/book/<%- book._id %>?_method=DELETE" method="POST">
                    <button class="book-option delete-btn" type="submit">Delete</button>
                </form>
            </div>
        <% }) %>

        <div class="modal">
            <div class="modal-content">
                <h4>Do you really want to delete this book?</h4>
                <button class="main-btn delete-confirm">Yes</button>
                <button class="main-btn delete-abort">No</button>
            </div>
        </div>
    </div>

    <script src="./assets/js/fontawesome.min.js"></script>
    <script src="./assets/js/modal.js"></script>
</body>